<!DOCTYPE html>
<html>
    <head>
        <title>Images</title>
    </head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <style>
            .item {
                float:left;
            }
            .black_overlay{
                display: none;
                position: absolute;
                top: 0%;
                left: 0%;
                width: 100%;
                height: 100%;
                background-color: black;
                z-index:1001;
                -moz-opacity: 0.8;
                opacity:.80;
                filter: alpha(opacity=80);
            }
            .white_content {
                display: none;
                position: absolute;
                top: 25%;
                left: 25%;
                width: 50%;
                height: 50%;
                padding: 16px;
                border: 16px solid grey;
                background-color: white;
                z-index:1002;
                overflow: auto;
            }
        </style>
<body>
        <input type='text' id='path' placeholder='Image URL'/>
        <input type='text' id='name' placeholder='Product Name'/>
        <input type='text' id='price' placeholder='Price'/>
        <input type='text' id='description' placeholder='Description'/>
        <button id="sub_item">Create Item</button><br/><br/>
        
        <input type='text' id='old_name' placeholder='Item name'/><br/>
        <input type='text' id='update_name' placeholder='New name'/>
        <input type='password' id='update_price' placeholder='New price'/>
        <input type='text' id='update_img' placeholder='New image'/>
        <input type='text' id='update_desc' placeholder='New description'/>
        <button id="update_sub">Update</button><br/><br/>
    
        <div id="light" class="white_content"></div>
        <div id="fade" class="black_overlay"></div>
        
    </body>
    <script>
        $(document).ready(function() {
            
//----------Inserting Items---------------------------------------------------
            document.getElementById("sub_item").onclick = function() {
                $.ajax({
                    url: "../controller/item_c.php",
                    type: "POST",
                    dataType: "html",
                    data: {
                        method: "insert",
                        name: document.getElementById("name").value,
                        description: document.getElementById("description").value,
                        img: document.getElementById("path").value,
                        price: document.getElementById("price").value

                    },
                    success: function(resp) {
                        location.reload();
                        //console.log(resp);
                    }
                });
            }
            
 //----------Viewing Items-----------------------------------------------------           
            function viewItems(){
                $.ajax({
                        url: "../controller/item_c.php",
                        type: "POST",
                        dataType: "JSON",
                        data: {
                            method: "view"
                        },
                        success: function(resp) {
                          for(var i = 0; i<resp.length; i++){
                                var newerdiv = document.createElement("div");
                                var newdiv = document.createElement("h3");
                                var newimg = document.createElement("div");
                                var tinyspace = document.createElement("div");
                                document.body.appendChild(newerdiv);
                                newerdiv.appendChild(newdiv);
                                newerdiv.appendChild(newimg);
                                newerdiv.className = "item";
                                newdiv.innerHTML = "<h1 style='text-align:center'>"+resp[i].name +"</h1><h3 style='text-align:center'>Price: $"+resp[i].price+"</h3>";
                                newdiv.style.textAlign = "center";
                                newdiv.style.textAlign = "center";
                                newdiv.style.width = "48vw";
                               //newimg.style.width = "50vw";
                                newimg.innerHTML = "<img style='width:48vw;height:auto;' src="+resp[i].img+" />";
                              
                                newdiv.dataset.id = resp[i].id;
                                
//----------Deleting Items----------------------------------------------------
                              var item_del = document.createElement("button");
                              item_del.dataset.id = resp[i].id;
                              item_del.innerHTML = "Delete";
                              newdiv.appendChild(item_del);
                              
                                  item_del.onclick = function() {
                                      var item_id = this.dataset.id;
                                      console.log(item_id);
                                        $.ajax({
                                            url: "../controller/item_c.php",
                                            dataType: "json",
                                            type: "POST",
                                            data: {
                                                method:"delete",
                                                id: item_id
                                            },
                                            success: function(resp){
                                                alert("DELETED!");
                                                location.reload();
                                            }
                                        });
                                  }
                                  
//----------View Single Items-------------------------------------------------
                                  var single_item_view = document.createElement("button");
                                  single_item_view.dataset.id = resp[i].id;
                                  single_item_view.dataset.name = resp[i].name;
                                  single_item_view.dataset.description = resp[i].description;
                                  single_item_view.innerHTML = "More information";
                                  newdiv.appendChild(single_item_view);
                              
                                      single_item_view.onclick = function() {
                                          var item_id = this.dataset.id;
                                          var item_name = this.dataset.name;
                                          var item_desc = this.dataset.description;
                                          console.log(item_desc);
                                          //alert("Here is some information about the '" + item_name + "':\n\n" + item_desc);
                                          document.getElementById('light').style.display='block';
                                          document.getElementById('fade').style.display='block';
                                          document.getElementById('light').innerHTML="<h1>" + item_name + "</h1><h3>" + item_desc + "</h3><input type='button' id='lightboxClose' value='Close'/>";
                                          document.getElementById('lightboxClose').onclick = function(){
                                              document.getElementById('light').style.display='none';
                                              document.getElementById('fade').style.display='none';
                                          }
                                      }
                          }
                        }
                });
            }           
            viewItems();
            
//----------Update Items------------------------------------------------------       
            document.getElementById('update_sub').onclick = function () {

                  $.ajax({
                      url:"../controller/item_c.php",
                      dataType:"HTML",
                      data: {
                          method: "update",
                          new_name: document.getElementById("update_name").value,
                          new_price: document.getElementById("update_price").value,
                          new_img: document.getElementById("update_img").value,
                          new_desc: document.getElementById("update_desc").value,
                          name: document.getElementById("old_name").value
                      },
                      type:"POST",
                      success: function(resp) {
                          location.reload();
                        
                      }
                  });
              }
        });
    
    
    
    </script>
</html>