<!DOCTYPE html>
<html>
    <head>
        <title>Messages</title>
    </head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <body>
        <input type='text' id='username' placeholder='username'/>
        <input type='password' id='password' placeholder='password'/>
        <button id="sub">Login</button><br />
        <input type="text" id="message" placeholder="Message" />
        <button id="msg_sub">Send your message</button>
        
    </body>
    <script>
        $(document).ready(function() {
            //LOGIN FEATURE
            
            var user_id = -1;
            
            document.getElementById("sub").onclick = function() {
                //connect and insert
                $.ajax({
                    url: "../controller/msg_c.php",
                    type: "POST",
                    dataType: "json",
                    data: {
                        method: "login",
                        username: document.getElementById("username").value,
                        password: document.getElementById("password").value
                    },
                    success: function(resp) {
                        alert("Logged in!");
                        console.log(resp);
                        user_id = resp[0].id;
                        console.log(user_id);
   
                    }
                
                });
            }
            
            document.getElementById("msg_sub").onclick = function() {
                console.log(user_id);
                //connect and insert
                $.ajax({
                    url: "../controller/msg_c.php",
                    type: "POST",
                    dataType: "html",
                    data: {
                        method: "insert",
                        user_id: user_id,
                        message: document.getElementById("message").value
                    },
                    success: function(resp) {
                        alert("INSERT!");
                        console.log(user_id);
                        location.reload();
                    }
                
                });
            }

            
            function viewMsgs(){
                $.ajax({
                        url: "../controller/msg_c.php",
                        type: "POST",
                        dataType: "JSON",
                        data: {
                            method: "view"
                        },
                        success: function(resp)  {
                            console.log(resp);
                            
                            
                          for(var i = 0; i<resp.length; i++){
                                var newMsg = document.createElement("div");   
                                document.body.appendChild(newMsg);
                                newMsg.innerHTML = "<p>"+resp[i].message+"</p>";
                              
                                newMsg.dataset.id = resp[i].id;
                              
                          

                      // DELETING USERNAME
                      var msg_del = document.createElement("button");
                      msg_del.dataset.id = resp[i].id;
                      msg_del.innerHTML = "Delete";
                      newMsg.appendChild(msg_del);
                      msg_del.onclick = function() {
                        var user_id = this.dataset.id;
                          console.log(user_id);
                        $.ajax({
                            url: "../controller/msg_c.php",
                            dataType: "json",
                            type: "POST",
                            data: {
                                method:"delete",
                                user_id: user_id
                            },
                            success: function(resp){
                                alert("DELETED!");
                                location.reload();
                            }
                          
                        });
                    } 
                            }
                        }
                });
            }
            viewMsgs();
        });
    
    
    
    </script>
</html>