<!DOCTYPE html>
<html>
    <head>
        <title>Users</title>
    </head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <body>
        <input type='text' id='username' placeholder='username'/>
        <input type='password' id='password' placeholder='password'/>
        <input type='text' id='img' placeholder='avatar'/>
        <input type='text' id='admin' placeholder='admin? 1 = yes 0 = no'/>
        <button id="sub">Register</button>
        
        
    </body>
    <script>
        $(document).ready(function() {
            
            document.getElementById("sub").onclick = function() {
                //connect and insert
                $.ajax({
                    url: "../controller/user_c.php",
                    type: "POST",
                    dataType: "html",
                    data: {
                        method: "insert",
                        username: document.getElementById("username").value,
                        password: document.getElementById("password").value,
                        img: document.getElementById("img").value,
                        admin: document.getElementById("admin").value
                    },
                    success: function(resp) {
                        alert("INSERT!");
                    }
                
                });
            }

        });
    </script>
</html>